@charset "UTF-8";

@import "../global/_config";

// ==== About  ====
#div_RBZ_about {
    max-width: 960px;
    margin-top: 160px;
    h1 {
        color: $table_red;
        font-size: 35px;
    }
    h2 {
        color: #4d4d4d;
        font-size: 2.4rem;
        margin-bottom: 0px;
    }
    p {
        max-width: 550px;
        text-align: justify;
        margin-bottom: 30px;
    }
    #div_RBZ_aboutTop {
        #div_RBZ_aboutTopLeft {
            float : left;
        }
        #div_RBZ_aboutTopRight {
            padding-top: 50px;
            float : right;
        }
    }
    #div_RBZ_aboutBottom {
        margin-top: 50px;
        margin-bottom: 100px;
        #div_RBZ_aboutBottomLeft {
            float: left;
            margin-right: 50px;
        }
        #div_RBZ_aboutBottomRight {
            float: right;
        }
    }
}

/* ==== Grand iPad ==== */
@media (max-width: 960px) {
    #div_RBZ_about {
        padding: 10px;
        p {
            text-align: justify;
        }
        #div_RBZ_aboutTop {
            // ---- enlever image de droite ----
            #div_RBZ_aboutTopRight {
                display: none;
            }
        }
        #div_RBZ_aboutBottom {
            #div_RBZ_aboutBottomRight {
                float: left;
                max-width: 450px;
            }
        }
    }
}

/* ==== Smartphone ==== */
@media (max-width: 480px) {
    // ==== About  ====
    #div_RBZ_about {
        max-width: 480px;
        margin-top: 140px;
        h1 {
            font-size: 25px;
        }
        h2 {
            font-size: 2.2rem;
        }
        p {
            max-width: 550px;
            margin-bottom: 20px;
        }

        #div_RBZ_aboutBottom {
            margin-top: 30px;
            margin-bottom: 50px;
            // ---- enlever image de gauche ----
            #div_RBZ_aboutBottomLeft {
                display: none;
            }
            #div_RBZ_aboutBottomRight {
                float: left;
            }
        }
    }
}

/* ==== Petit Smartphone ==== */
@media (max-width: 330px) {
    // ==== About  ====
    #div_RBZ_about {
        max-width: 320px;
    }
}