@charset "UTF-8";

@import "../global/_config";

// ==== About  ====
#div_RBZ_about {
    margin-top: 160px;
    h1 {
        color: $table_red;
        font-size: 35px;
    }
    h2 {
        color: #4d4d4d;
        font-size: 2.4rem;
        margin-bottom: 0px;
    }
    p {
        max-width: 550px;
        text-align: justify;
        margin-bottom: 30px;
    }
    #div_RBZ_aboutTop {
        #div_RBZ_aboutTopLeft {
            float : left;
        }
        #div_RBZ_aboutTopRight {
            padding-top: 50px;
            float : right;
        }
    }
    #div_RBZ_aboutBottom {
        margin-top: 50px;
        margin-bottom: 100px;
        #div_RBZ_aboutBottomLeft {
            float: left;
            margin-right: 50px;
            //padding-top: 70px;
        }
        #div_RBZ_aboutBottomRight {
            float: right;
        }
    }
}

/* ==== Grand iPad ==== */
@media (max-width: 960px) {
    #div_RBZ_aboutTopRight {
        display: none;
    }
}

/* ==== Smartphone ==== */
@media (max-width: 480px) {
    #div_RBZ_aboutBottomLeft {
        display: none;
    }
}