@charset "UTF-8";

@import "../global/_config";

// ==== Menu ====
#div_RBZ_faqLeft {
    float: left;
    position: relative;
    #div_RBZ_faqMenu {
        position: fixed;
        width: 205px;
        top: 300px;
        left:320px;
        li {
            list-style-type: none;
            border-top : 1px solid $gray;
            padding: 8px;
            padding-left: 15px;
            //---- menu inscription activé par défaut ----// 
            &:first-child{
                border-left: 3px solid #f04f61;
            }
        }
    }
}
// ==== FAQ ====
#div_RBZ_faqRight {
    position: relative;
    color: #817C78;
    float: right;
    margin-bottom: 50px;
    margin-top: 40px;
    width: 750px;
    .div_RBZ_faqQuestion {
        cursor:pointer;
        position: relative;
        background-color: $white;
        margin-bottom: 10px;
        padding: 15px;
        h6 {
            max-width: 650px;
            margin-bottom: 0px;
            font-size: 14px;
        }
        span {
            position: absolute;
            right: 15px;
            top:15px;
        }
        .div_RBZ_faqQuestionInside {
            margin-top: 15px;
            display: none;
            font-size: 13.3px;
        }
    }
    .div_RBZ_faqPicture {
        max-width: 250px;
        margin-bottom: 10px;
        margin-top: 20px;
        position: relative;
        span{
            position: absolute;
            left: 55px;
            top: 55px;
            color: #484745;
            font-size: 20px;
            font-weight: bolder;
        }
    }
    h1 {
        color: $table_red;
        font-size: 35px;
    }
    #div_RBZ_faqRightImg {
        position: absolute;
        right: 20px;
    }
}
