@charset "UTF-8";

@import "../global/_config";

// ==== Menu ====
#div_RBZ_faqMenu {
    position: fixed;
    width: 205px;
    top: 300px;
    ul {
        // ---- supprimer margin du ul par défaut ----
        padding-left: 0;
        li {
            list-style-type: none;
            border-top : 1px solid $gray;
            padding: 8px;
            padding-left: 15px;
            //---- menu inscription activé par défaut ----// 
            &:first-child{
                border-left: 3px solid #f04f61;
            }
        }
    }
}
// ==== FAQ ====
#div_RBZ_faqRight {
    position: relative;
    left: 0;
    color: #817C78;
    display:inline-block;
    margin-left:230px;
    margin-bottom: 100px;
    padding-top: 40px;
    max-width: 725px;
    .RBZ_faqQuestion {
        cursor:pointer;
        position: relative;
        background-color: $white;
        margin-bottom: 10px;
        padding: 15px;
        h6 {
            margin-bottom: 0px;
            font-size: 14px;
        }
        span {
            position: absolute;
            right: 15px;
            top:15px;
        }
        .RBZ_faqQuestionInside {
            margin-top: 15px;
            display: none;
            font-size: 13.3px;
        }
    }
    .RBZ_faqPicture {
        max-width: 290px;
        margin-bottom: 10px;
        margin-top: 20px;
        position: relative;
        span{
            position: absolute;
            left: 55px;
            top: 55px;
            color: #484745;
            font-size: 20px;
            font-weight: bolder;
        }
    }
    h1 {
        color: $table_red;
        font-size: 35px;
    }
    #div_RBZ_faqRightImg {
        position: absolute;
        right: 20px;
    }
}

/* ==== Grand iPad ==== */
@media (max-width: 960px) {
    // ==== Menu ====
    #div_RBZ_faqMenu {
        display: none;
    }
    // ==== FAQ ====
    #div_RBZ_faqRight {
        margin-left:0px;
    }
}

/* ==== Smartphone ==== */
@media (max-width: 480px) {
    // ==== FAQ ====
    #div_RBZ_faqRight {
        #div_RBZ_faqRightImg {
            display: none;
        }
    }
}