@charset "UTF-8";

@import "../global/_config";

// ==== Mise en place des css du menu et logo avec le fond bleu====
body {
    background-color: #ADE1EC;
}
#div_RBZ_content {
    margin-top: 200px;
}

// ==== Menu du slider ====
#div_RBZ_hiw_slider {
    //display: none;
    color: #fff;
    position: absolute;
    right:100px;
    top: 250px;
    #li_RBZ_hiwMenuFirst{
        opacity: 1;
    }
    li{
        cursor: pointer;
        list-style-type: none;
        font-size: 15px;
        opacity: 0.4;
        &:hover {
            opacity: 1 !important;
        }
        .RBZ_hiwCircle {
            margin-top: 10px;
            margin-left: 10px;
            display: block;
            background-color: #fff;
            width: 15px;
            height: 15px;
            border-radius: 15px;
            display: inline-block;
        }
    }
    h3 {
        color: #fff;
    }
    #span_RBZ_hiwSliderTop {
        font-weight: bold;
        font-size: 18px;
        padding-left: 12px;
        opacity: 1;
    }
    #span_RBZ_hiwSliderDown {
        @extend #span_RBZ_hiwSliderTop;
    }
}

// ==== Page 1 ====
#div_RBZ_hiw_p1 {
    margin-bottom: 100px;
    #div_RBZ_hiw_p1_description {
        color: $white;
        margin: 0 auto;
        margin-bottom: 60px;
        margin-top: -60px;
        text-align:center;
        h1 {
            color: $white;
            font-size: 40px;
            margin-bottom: 20px;
        }
        p {
            font-size: 18px;
        }
    }
}

// ==== Page 2 ====
#div_RBZ_hiw_p2{
    position : relative;
    display: none;
    #div_RBZ_hiw_p2_left{
        //display: inline-block;
    }
    #div_RBZ_hiw_p2_right {
        position: absolute;
        padding-top: 120px;
        max-width: 460px;
        top:0;
        right: 0;
        //margin-left: -100px;
        color: #A3A3A3;
        h1 {
            color: #484745;
            font-size: 40px;
            margin-bottom: 20px;
        }
        p {
            text-align: justify;
            font-size: 17px;
            margin-bottom: 30px;
        }
    }

}
// ==== Page 3 ====
#div_RBZ_hiw_p3{
    display: none;
    padding-bottom: 150px;
}

// ==== Page 4 ====
#div_RBZ_hiw_p4{
    display: none;
    position: relative;
    #div_RBZ_hiw_p4_description {
        text-align:center;
        margin: 30px auto 60px;
        h1 {
            color: #484745;
            font-size: 40px;
            margin-bottom: 20px;
        }
        p {
            font-size: 17px;
            color: #A3A3A3;
        }
    }
    #div_RBZ_hiw_p4_left{
        position: relative;
        margin-right: 20px;
        #div_RBZ_hiw_p4_leftImg {
            position: absolute;
            top: 60px;
            left: 20px;
        }
    }
    #div_RBZ_hiw_p4_right {
        position: absolute;
        top:180px;
        max-width: 500px;
        left: 400px;
        color: #A3A3A3;
        p {
            padding:15px;
            text-align: justify;
            font-size: 17px;
            margin-bottom: 30px;
            &:hover{
                background-color: $white;
                span{
                    color : $red-banner
                }
            }
        }
    }
}

// ==== Page 5 ====
#div_RBZ_hiw_p5{
    display: none;
    // ---- Ecrasement css knacss----
    p{
        line-height: 2;
    }
    display: none;
    margin-top: 60px;
    margin-bottom: 100px;
    color: #A3A3A3;
    #div_RBZ_hiw_p5_left{
        max-width:240px;
        margin-right: 20px;
        float: left;
    }
    #div_RBZ_hiw_p5_right {
        position: relative;
        float: right;
        color: #A3A3A3;
        #div_RBZ_hiw_p5_description {
            position:absolute;
            bottom: -20px;
            text-align:center;
            margin: 30px auto 60px;
            h1 {
                color: #484745;
                font-size: 40px;
                margin-bottom: 20px;
            }
            p {
                font-size: 17px;
            }
        }
        #div_hiw_diamond {
            float:left;
        }
        .RBZ_hiwP5Block{
            float:right;
            margin-left: -100px;
        }
    }
    .RBZ_hiwP5Block {
        text-align: justify;
        max-width: 240px;
        margin-bottom: 30px;
    }
    .RBZ_hiwP5BlockTitle {
        color: #35B3C1 !important;
        font-size: 19px !important; 
    }
}

// ==== Page 6 ====
#div_RBZ_hiw_p6{
    display: none;
}


/* ==== Grand iPad ==== */
@media (max-width: 960px) {
    // ==== Page 1 ====
    #div_RBZ_hiw_p1 {
        #div_RBZ_hiw_p1_description {
            h1 {
                font-size: 30px;
                margin-top: 60px;
            }
            p {
                font-size: 16px;
            }
        }
    }
    // ==== Page 2 ====
    #div_RBZ_hiw_p2{
        #div_RBZ_hiw_p2_right {
            padding-top:400px;
            h1 {
                font-size: 30px;
            }
            p {
                font-size: 16px;
            }
        }
    }
    // ==== Page 4 ====
    #div_RBZ_hiw_p4{
        #div_RBZ_hiw_p4_description {
            h1 {
                font-size: 30px;
            }
            p {
                font-size: 16px;
            }
        }
        #div_RBZ_hiw_p4_right {
            p {
                font-size: 16px;
            }
        }
    }
    // ==== Page 5 ====
    #div_RBZ_hiw_p5{
        // ---- Ecrasement css knacss----
        p{
            line-height: 1.5;
        }
        #div_RBZ_hiw_p5_right {
            #div_RBZ_hiw_p5_description {
                h1 {
                    font-size: 30px;
                }
                p {
                    font-size: 16px;
                }
            }
        }
        .RBZ_hiwP5BlockTitle {
            font-size: 16px !important; 
        }
    }
}
