@charset "UTF-8";

/* ==== Popup de contact ==== */
#div_RBZ_contactPopup {
    position: absolute;
    top: 110px;
    z-index: 10;
    #div_RBZ_content {
        width: 360px;
        height: 750px;
        background-color: #f1f1f1;
        position: relative;
        &.RBZ_fr_FR {
            /* ---- Positionnement par rapport au texte sous la popup
             qui dépasse à gauche et à droite en français ----*/
            left: 22px;
        }
        @include border-radius(2px, 2px);
        #div_RBZ_logo {
            width: 100%;
            display: block;
            text-align: center;
            #div_RBZ_close {
                position: absolute;
                top: 0px;
                right: 15px;
                font-size: 40px;
                color: #afafaf;
                cursor: pointer;
            }
            img {
                margin: 40px auto 10px auto;
            }
            h3.RBZ_linesSided {
                &.RBZ_fr_FR {
                    span::before, span::after {
                        width: 22px;
                    }
                }
                &.RBZ_en_US {
                    span::before, span::after {
                        width: 44px;
                    }
                }
            }
        }
        #div_RBZ_form {
            width: 80%;
            margin: 30px auto 0px auto;
            div.RBZ_input {
                margin-bottom: 10px;
                textarea {
                    height:200px;
                    width:100%;
                }
            }
            input.RBZ_redButton {
                margin-top: 25px;
            }
            #div_RBZ_error {
                color: $red-banner;
                font-weight: 600;
                position: absolute;
                top: 130px;
                width: 80%;
                text-align: center;
            }
        }
    }
    #div_RBZ_notice {
        margin-top: 20px;
        text-align: center;
        font: 14px 'Open Sans';
        font-weight: 600;
        span {
            color: white;
            a {
                color: #f04f61;
                text-decoration: none;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

// ==== Petit smartphone ====
@media (max-width: 480px) {
    #div_RBZ_contactPopup {
        #div_RBZ_content {
            width: 290px;
            margin-left: 0px;
        }
    }
}
