div#div_RBZ_userMenu {
  background-color: $white;
  padding-top: 20px;
  box-shadow : 1px 1px 2px #e0e0e0;
  ul {
    list-style: none;
    display: inline-block;
    padding: 0;
    li {
      display: inline-block;
      margin: 0 10px;
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      font-size: 1.4rem;
      &.active {
        box-shadow: inset 1px 1px 2px #e0e0e0;
        background-color: $body;
        position: relative;
        font-weight: bold;
        &:before {
          content: '';
          position: absolute;
          height: 3px;
          background-color: $body;
          bottom: -3px;
          left: 0;
          width: 100%;
        }
        &:after {
          content: '';
          position: absolute;
          right: 0;
          height: 40px;
          width: 17px;
          background: url(/bundles/webweb/images/global/menu_user.png) 0 0 no-repeat
        }
        a {
            padding-right:5px;
            color: #f04f61;
        }
      }
      a {
        text-decoration: none;
        color: #6d6d6d;
        &:hover {
          color: #f04f61;
        }
      }
    }
  }
}

//==== ipad moyen ====
@media (max-width: 800px) {
  div#div_RBZ_userMenu ul li {
    height: 32px;
    line-height: 32px;
    padding: 0 10px 0 5px;
    margin: 0;
    font-size: 10px;
    &:last-child {
      margin-right: 0px;
    }
    &.active:after {
      height: 32px;
      width: 15px;
      background: url(/bundles/webweb/images/global/menu_user_smartphone.png) 0 0 no-repeat
    }
  }
}

//==== smartphone petit ====
@media (max-width: 430px) {
    div#div_RBZ_userMenu {
        padding-top:0px;
        div.RBZ_wrapper { width:auto; padding-bottom:5px; text-align:center; }
        ul li { margin-left:5px; border:1px solid #F1F1F1; border-radius:10px; }
        ul li.active {
            box-shadow:none;
            &:after { display:none; }
            &:before { display:none; }
        }
    }
}
@media (max-width: 350px) {
  div#div_RBZ_userMenu ul li {
    font-size: 8.2px;
  }
}
