@charset "UTF-8";

/* ==== Popup commune ==== */
#div_RBZ_commonPopup {
    min-height:300px;
    min-width:540px;
    position:absolute;
    top:150px; left:200px;
    border:1px solid $border-grey;
    background-color:white;
    z-index:100005;
    text-align: center;
    
    #div_RBZ_commonPopupTitle {
        font-size:21px;
        margin-top: 40px;
        margin-bottom:20px;
        font-weight:normal;
        color:#071925;
        text-shadow: 0 0 1px rgba(0,0,0,0.3);
    }
    
    #a_RBZ_commonPopupClose {
        position:absolute;
        width:41px;
        height:40px;
        top:-1px;
        right:-1px;
        background:url(/bundles/webweb/images/global/icons/close.png) no-repeat left top;
    }
    #div_RBZ_commonPopupContent {
        border-top: 1px solid $border-grey;
        border-bottom: 1px solid $border-grey;
        background-color: #F9F9F9; padding-top: 40px;
        padding-bottom: 30px; min-height: 100px;
    
        #div_RBZ_commonPopupContentText {
            max-width: 430px;
            text-align: center;
            padding-left: 100px;
        }
    }
    #div_RBZ_commonPopupSubmit {
        margin-top : 25px;
    
        button{
            margin-right: 10px}
    }
}
/* ==== Popup fond commun ==== */  
#div_RBZ_commonShadow {
    display:none;
    position:absolute;
    top:0px;
    height:0px;
    width:100%;
    height:100%;
    z-index:9;
    background-color:#fff;
    opacity:0.5;
}

/* ==== Popup Bouton commun ==== */  
button.RBZ_gray {
    width:100px;
    height:35px;
    font-size:13px;
    line-height:35px;
    text-align:center;
    color:#98918B;
    background:#FAFAFA;
    border:1px solid $border-grey;
    @include border-radius(3px)
}
button.RBZ_coral {
    @extend button.RBZ_gray;
    color:white;
    background:$red-banner;
    border:1px solid $red-banner;
}

