@charset "UTF-8";

/* ==== Popup fond commun ==== */
#div_RBZ_commonShadow {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: 9;
    background-color: rgba(255, 255, 255, 0.5);
}

/* ==== Popup commune ==== */
#div_RBZ_commonPopup {
    display: none;
    min-height: 250px;
    width: 500px;
    position: fixed;
    border: 1px solid $border-grey;
    box-shadow: 0px 0px 5px 2px $border-grey;
    background-color: white;
    z-index: 10;
    text-align: center;
    top: 200px;
    margin: 0px auto 0px auto;
    #a_RBZ_commonPopupClose {
        position: absolute;
        width: 41px;
        height: 40px;
        top: -1px;
        right: -1px;
        background: url(/bundles/webweb/images/global/icons/close.png) no-repeat left top;
    }
    #div_RBZ_commonPopupTitle {
        font-size: 21px;
        height: 80px;
        line-height: 80px;
        font-weight: normal;
        color: #071925;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    }
    #div_RBZ_commonPopupContent {
        border-top: 1px solid $border-grey;
        border-bottom: 1px solid $border-grey;
        min-height: 88px;
        background-color: $gray-bg;
        display: block;
        position: relative;
        width: 100%;
        div.RBZ_confirm_popup_content {
            width: 500px;
            min-height: 86px;
            display: table-cell;
            vertical-align: middle;
            margin: auto;
            line-height: 86px;
        }
    }
    #div_RBZ_commonPopupSubmit {
        height: 80px;
        line-height: 80px;
        button {
            display: inline-block;
            margin: auto 5px auto 5px;
            height: 30px;
            width: 100px;
            font-size: 12px;
            &.RBZ_cancel {
                color: $sub-menu;
                background-color: $gray-bg;
                border: 1px solid $border-grey;
                border-radius: 2px;
            }
            &.RBZ_validate {
                color: $white;
                background-color: $red-banner;
                border: 1px solid $red-banner;
                border-radius: 2px;
            }
        }
    }
}

/* ==== Popup Bouton commun ==== */  
button.RBZ_gray {
    width:100px;
    height:35px;
    font-size:13px;
    line-height:35px;
    text-align:center;
    color:#98918B;
    background:#FAFAFA;
    border:1px solid $border-grey;
    @include border-radius(3px)
}
button.RBZ_coral {
    @extend button.RBZ_gray;
    color:white;
    background:$red-banner;
    border:1px solid $red-banner;
}

