
@media (min-width: ($tiny-screen + 1)) and (max-width: $small-screen) {
  .RBZ_wrapper {
    width: 100%;
  }
  #div_RBZ_banner {
    height: 90px;
    background: url(/bundles/webweb/images/global/logo-tablet.png) 0 10px no-repeat;
  }
  div#div_RBZ_userMenu ul li.active:after {
    height: 40px;
    width: 10px;
    background: url(/bundles/webweb/images/global/menu_user_tablet.png) 0 0 no-repeat
  }
  #footer_RBZ_footer {
    text-align: center;
    ul {
      display: block;
    }
  }
}

@media (max-width: $tiny-screen) {
  div#div_RBZ_userMenu ul li {
    height: 32px;
    line-height: 32px;
    padding: 0 10px 0 5px;
    margin: 0;
    font-size: 10px;
    &:last-child {
      margin-right: 0px;
    }
    &.active:after {
      height: 32px;
      width: 9px;
      background: url(/bundles/webweb/images/global/menu_user_smartphone.png) 0 0 no-repeat
    }
  }
}
