/* ---- Tableau de base ---- */
table.RBZ_table {
    border: none !important;
    th {
        background-color: #cbcbcb;
        border: none;
        font-size: 12px;
        color: #ffffff;
        height: 33px;
        line-height: 33px;
        padding-left: 20px;
    }
    td {
        border: none;
        height: 50px;
        vertical-align: middle;
        background-color: #ffffff;
        font-size: 14px;
        color: #676059;
        padding-left: 20px;
        &.RBZ_red {
            font-weight: bold;
            color: $table_red;
        }
        &.RBZ_blue {
            font-weight: bold;
            color: $table_blue;
        }
    }
    tr {
        border-bottom: 1px solid #e3e3e2;
        &:nth-child(odd) td {
            background-color: #f9f9f9;
        }
    }
}

/* ---- Structure tableau de la zone titres/formulaire ---- */
#table_RBZ_title {
    border: none;
    border-collapse: collapse;
    td {
        border: none;
        border-collapse: collapse;
        padding: 0px;
        &.RBZ_left {
            width: 80%;
        }
        &.RBZ_info {
            font: 400 14px 'Open Sans';
            padding-right: 10%;
        }
        a.RBZ_redButton {
            margin-top: 5px;
        }
        div.RBZ_input {
            margin-bottom: 0px;
            input {
                margin: 5px 0px;
                width: 100%
            }
        }
    }
}