@charset "UTF-8";

@import "compass/css3";
@import "compass/utilities/sprites";
$icons-layout: vertical;
$icons-spacing: 10px;
@import "global/icons/*.png";
//@include all-icons-sprites;
$global: sprite-map("global/*.png", $layout: vertical, $spacing: 20px);
$icons: sprite-map("global/icons/*.png", $layout: vertical, $spacing: 10px);
$icons_menu: sprite-map("global/icons_menu/*.png", $layout: vertical, $spacing: 10px);

@import "config";

body {
  background-color: $body;
  font-family: 'Open Sans', sans-serif;
}

.RBZ_hide {
  display: none;
}

.RBZ_wrapper {
  width: 960px;
  margin: 0 auto;
}

#section_RBZ_main {
    margin-top: 30px;
    min-height: 400px;
}

@media (max-width: $wrapper-screen) {
    .RBZ_wrapper {
        width: 100%;
    }
}

@import "titles";
a {
    text-decoration: none;
}

@import "header";
@import "menu-user";
@import "form";
@import "footer";
@import "popup";
@import "offer";
@import "tables";
@import "paginator";
@import "contact";
@import "rwd"; // à laisser en dernier
