@charset "UTF-8";

@import "../global/_config";

#div_RBZ_userDetails {
    #div_RBZ_userDetailsInfo {
        float:left;
        width:350px;
    }
    #div_RBZ_userDetailsConnection {
        float:right;
        width:300px;
    }

    #RBZ_user_detailsSubmit {
        margin: 0px auto;
        width: 200px;
        margin-bottom: 20px;
    }
}