@charset "UTF-8";

@import "../global/_config";

//=== Div Rib(tag)
#div_RBZ_userDetailsInfo {
    float:left;

}
#div_RBZ_userDetailsConnection {
    float:right;

}

.RBZ_user_details_footer {
    margin: 0px auto;
    width: 200px;
    height:102px;
    .RBZ_user_details_footer_input{
        width: 150px;
        height:25px;
        float: right;
        margin-top: 30px;
        margin-right: 0px;

    }

}