@charset "UTF-8";
@import "../global/_config";

#div_RBZ_userBic {
    div.KNS_row {
        table-layout:auto;
        label { width:140px; }
    }
}

#div_RBZ_userBorder {
    border-bottom: 1px solid $border-grey;
    margin-top: 40px;
}

#div_RBZ_userFooter {
    width:200px;
    height:25px;
    margin:25px auto 40px auto;
}
