{% extends app.user.id is defined ? "@WebWeb/layoutPage.html.twig" : "@WebWeb/layoutPageOut.html.twig" %}
{% block CSS %}
    {{ parent() }}
    {% stylesheets
    '@WebWebBundle/Resources/public/css/default/legal.scss'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}
{% block CONTENT %}
    <div id="div_RBZ_content">
        <div id="div_RBZ_legal">
            <h1>{{ "web.web.default.index.footerGtu" | trans }}</h1>
            {% include '@WebWeb/Default/terms/' ~ app.request.locale ~ '.html.twig' %}
            <br /><br /><br /><br />
        </div>
    </div>
{% endblock %}
