{% extends "@WebWeb/layoutPage.html.twig" %}

{% block CONTENT %}
    <div id="div_RBZ_userMenu">
        <div class="RBZ_wrapper">
            {{ menu('rubizzUser') }}
        </div>
    </div>
    <div class="RBZ_wrapper">Cagnotte</div>
{% endblock %}
