@charset "UTF-8";

@import "../../global/_config";

body {
  margin: 0;
}
a {
	text-decoration: none;
}
div.RBZ_clear { clear:both; }
a.RBZ_home_a100 {
	width: 100%;
	height: 100%;
	display: block;
}

#header_RBZ_home_header {
	background: $white;
	height: 100px;
	.RBZ_home_head {
		background: $white;
		width: 1600px;
		height: 100px;
		margin: 0px auto;
		.RBZ_home_img_rubizzRed {
			margin-top: 18px;
			margin-left: 206px;
		}
		.RBZ_home_loginMenu {
			height: 18px;
			float: right;
			color: $black;
			font: normal 18px 'Open Sans';
			font-weight: 600;
			text-align: center;
			line-height: 18px;
			margin-top: 43px;
			margin-right: 222px;
			.RBZ_home_connection {
				padding-right: 5px;
			}
			.RBZ_home_register {
				padding-left: 5px;
			}
		}
	}
}

/* ==== iPad ==== */
@media (max-width: 767px) {
	#header_RBZ_home_header {
		height: 88px;
		.RBZ_home_head {
			width: 600px;
			.RBZ_home_img_rubizzRed {
				margin-left: 20px;
			}
			.RBZ_home_loginMenu {
				font-size: 15px;
				margin-right: 20px;
			}
		}
	}
}

/* ==== Smartphone ==== */
@media (max-width: 480px) {
	#header_RBZ_home_header {
		height: 88px;
		.RBZ_home_head {
			width: 320px;
			.RBZ_home_img_rubizzRed {
				width: 128px;
				margin-top: 5px;
				margin-left: 95px;
			}
			.RBZ_home_loginMenu {
				font-size: 12px;
				margin-top: 2px;
				margin-left: auto;
				margin-right: auto;
				float: none;
			}
		}
	}
}