@CHARSET "UTF-8";

/* ==== NTX slider ==== */
#div_NTX_sliderContain { position: relative; padding-top: 100px; background: #D70546; }
.NTX_div_slider_contain {min-width: 100%; background: #D70546;}
#div_NTX_sliderContain { width: 1300px; margin-right: auto; margin-left: auto; position: relative; padding-top: 100px;}
.NTX_div_slider { position: relative; width: 100%; height: 425px; background: #D70546; }
.NTX_div_slider p { float: right; width: 505px; height: 150px; color: #FFFFFF; font: 50px Circe-Light; line-height: 50px; margin-right: 120px; margin-top: 90px; text-align: right; }
.div_NTX_slide1 img { position: absolute; left: 90px; bottom: -25px; }
.div_NTX_slide2 img { position: absolute; left: 0px; bottom: -25px; }
.div_NTX_slide3 img { position: absolute; left: 90px; bottom: -25px; }
.div_NTX_slide4 img { position: absolute; left: 90px; bottom: 18px; }
.div_NTX_slide4_ru_RU img, .div_NTX_slide4_nl_NL img { bottom: 38px; }
/*#div_NTX_sliderContain .owl-controls { margin-top: -40px; }*/
/*.owl-theme .owl-controls .owl-page span { background: #FFFFFF; opacity: 0.5; }*/
/*.owl-theme .owl-controls .owl-page:hover { opacity: 0.5; }*/
/*.owl-theme .owl-controls .owl-page.active span { background: #FFFFFF; opacity: 0.99; }*/
/*.owl-theme .owl-controls .owl-page.active:hover { opacity: 0.99; }*/
/*.owl-theme .owl-buttons { position: absolute; width: 100%; top: 342px; }*/
/*.owl-theme .owl-buttons div.owl-prev { float: left; margin-left: 64px; background: transparent; color: #FFFFFF; opacity: 1; font: 50px Circe-ExtraLight; height: 40px; line-height: 40px; }*/
/*.owl-theme .owl-buttons div.owl-next { float: right; margin-right: 64px; background: transparent; color: #FFFFFF; opacity: 1; font: 50px Circe-ExtraLight; line-height: 40px; height: 40px; }*/
.owl-theme .owl-controls {margin-top: 0px;
    position: absolute;
    bottom: 15px;
width: 100%}
.owl-theme .owl-controls .owl-dots {margin-top: -20px; position: relative}
.owl-theme .owl-controls .owl-dot {height: 12px;width: 12px; display: inline-block;background: #FFFFFF;margin: 0 5px;border-radius: 50%;overflow: hidden}
.owl-theme .owl-controls .owl-dot span { background: #FFFFFF; opacity: 0.5; height: 12px; width: 12px;display: block;}
.owl-theme .owl-controls .owl-dot:hover { opacity: 0.5; }
.owl-theme .owl-controls .owl-dot.active span { background: #FFFFFF; opacity: 0.99; }
.owl-theme .owl-controls .owl-dot.active:hover { opacity: 0.99; }
.owl-theme .owl-nav { position: absolute; width: 100%; top: -170px; }
.owl-theme .owl-nav div.owl-prev { float: left; margin-left: 64px; background: transparent; color: #FFFFFF; opacity: 1; font: 50px Circe-ExtraLight; height: 40px; line-height: 40px; }
.owl-theme .owl-nav div.owl-next { float: right; margin-right: 64px; background: transparent; color: #FFFFFF; opacity: 1; font: 50px Circe-ExtraLight; line-height: 40px; height: 40px; }
.owl-carousel .owl-item img {width: auto;}

/* ==== iPad ==== */
@media (max-width: 767px) {
    .owl-theme .owl-controls {}
	.owl-theme .owl-nav { display: none; }
	.NTX_div_slider p { float: left; width: 262px; height: 108px; font-size: 31px; line-height: 31px; margin-left: 42px; margin-top: 50px; margin-right: 0px; text-align: left; }
    #div_NTX_sliderContain {width: 100%;}
    /*#div_NTX_sliderContain .owl-controls { float: right; margin-right: 75px; }*/
    #div_NTX_sliderContain .owl-controls { width: auto;right: 75px; }
	.owl-carousel .owl-item .div_NTX_slide1 img { width: 480px; left: 100px; }
	.owl-carousel .owl-item .div_NTX_slide2 img { width: 450px; left: 170px; bottom: 35px; }
	.owl-carousel .owl-item .div_NTX_slide3 img { width: 380px; left: 210px; bottom: 35px; }
	.owl-carousel .owl-item .div_NTX_slide4 img { width: 500px; }
}

/* ==== Smartphone ==== */
@media (max-width: 480px) {
	#div_NTX_sliderContain { padding-top: 60px; }
	#div_NTX_sliderContain .owl-controls { float: none; margin-right: 0px; }
	.owl-carousel .owl-item .div_NTX_slide1 img { width: 300px; left: 0px; bottom: 50px; }
	.owl-carousel .owl-item .div_NTX_slide2 img { left: 0px; width: 320px; }
	.owl-carousel .owl-item .div_NTX_slide3 img { left: 0px; width: 290px; }
	.owl-carousel .owl-item .div_NTX_slide4 img { left: 0px; bottom: 60px; width: 310px; }
	.NTX_div_slider p { width: 221px; height: 80px; font-size: 24px; line-height: 24px; margin-left: 15px; }
}

