{% block form_row %}
    {% spaceless %}
        <div class="RBZ_input KNS_row">
            {{ form_label(form) }}
            {{ form_widget(form) }}
        </div>
    {%  endspaceless %}
{% endblock form_row %}
