<div id="div_RBZ_commonPopup" style="{{ block('STYLE') }}">
    <div id="div_RBZ_commonPopupTitle">
        {{ block('TITLE') }}
    </div>
    <a href="#" id="a_RBZ_commonPopupClose"></a>
    <div id="div_RBZ_commonPopupContent">
        <div id="div_RBZ_commonPopupContentText">{{ block('CONTENT') }}</div>
    </div>
    <div id="div_RBZ_commonPopupSubmit">
        {{ block('SUBMIT') }}
    </div>
</div>