@charset "UTF-8";

@import "../../global/_config";

#footer_RBZ_default_footer{
	background: $footer-grey;
}
.RBZ_default_footer {
	background: $footer-grey url(/bundles/webweb/images/default/index/web_foot.png) right -180px bottom -125px no-repeat;;
	width: 1600px;
	height: 411px;
	margin: 0px auto;
	.RBZ_default_clients {
		width: 960px;
		height: 118px;
		background: url(/bundles/webweb/images/default/index/clients.png) center top 35px no-repeat;
		border-bottom: 1px solid $footer-border;
		margin: 0px auto;
	}
	.RBZ_default_footer_content {
		width: 960px;
		margin: 0px auto;
	}
	.RBZ_default_foot_menu1 {
		float: left;
		margin-top: 28px;
		a {
			color: #a8a8a8;
			font: normal 14px 'Open Sans';
		}
		p {
			margin-top: 5px;
		}
	}
	.RBZ_default_foot_menu2 {
		float: left;
		margin-top: 28px;
		margin-left: 75px;
		a {
			color: #a8a8a8;
			font: normal 14px 'Open Sans';
		}
		p {
			margin-top: 5px;
		}
	}
	.RBZ_default_foot_rubizzblack {
		float: right;
		margin-top: 35px;
		margin-right: 72px;
	}
	.RBZ_default_fb {
		float: left;
		width: 46px;
		height: 46px;
		background: url(/bundles/webweb/images/default/index/fb_foot.png) left top no-repeat;
		margin-top: 32px;
	}
	.RBZ_default_tw {
		float: left;
		width: 44px;
		height: 44px;
		background: url(/bundles/webweb/images/default/index/tw_foot.png) left top no-repeat;
		margin-top: 32px;
		margin-left: 25px;
	}
	.RBZ_default_foot_menu3 {
		margin-top: 15px;
		a {
			color: #a8a8a8;
			font: normal 11px 'Open Sans';
		}
	}
	.RBZ_default_allrights {
		margin-right: 15px;
	}
	.RBZ_default_mentions {
		margin-right: 15px;
	}
}

/* ==== iPad ==== */
@media (max-width: 767px) {
	.RBZ_default_footer {
		width: 600px;
		height: 310px;
		.RBZ_default_clients {
			width: 555px;
			height: 64px;
			background: url(/bundles/webweb/images/default/index/clients_tablet.png) center top 20px no-repeat;
		}
		.RBZ_default_footer_content {
			width: 550px;
			margin: 0px auto;
		}
		.RBZ_default_foot_menu1 {
			margin-top: 20px;
			a {
				color: #a8a8a8;
				font: normal 13px 'Open Sans';
			}
		}
		.RBZ_default_foot_menu2 {
			margin-top: 20px;
			a {
				color: #a8a8a8;
				font: normal 13px 'Open Sans';
			}
		}
		.RBZ_default_foot_menu3 {
			margin-top: 10px;
			a {
				color: #a8a8a8;
				font: normal 11px 'Open Sans';
			}
		}
		.RBZ_default_foot_rubizzblack {
			width: 150px;
			margin-right: 0px;
		}
		.RBZ_default_fb {
			margin-top: 15px;
			width: 36px;
			height: 36px;
			background-size: 36px;
		}
		.RBZ_default_tw {
			margin-top: 15px;
			width: 36px;
			height: 36px;
			background-size: 36px;
		}
	}
}

/* ==== Smartphone ==== */
@media (max-width: 480px) {
	.RBZ_default_footer {
		width: 320px;
		height: 347px;
		.RBZ_default_clients {
			width: 292px;
			height: 92px;
			background: url(/bundles/webweb/images/default/index/clients_smartphone.png) center top 15px no-repeat;
		}
		.RBZ_default_footer_content {
			width: 292px;
			margin: 0px auto;
		}
		.RBZ_default_foot_menu1 {
			margin-top: 20px;
			a {
				color: #a8a8a8;
				font: normal 12px 'Open Sans';
			}
			p {
				margin-top: 2px;
			}
		}
		.RBZ_default_foot_menu2 {
			margin-top: 20px;
			a {
				color: #a8a8a8;
				font: normal 12px 'Open Sans';
			}
			p {
				margin-top: 2px;
			}
		}
		.RBZ_default_foot_menu3 {
			margin-top: 10px;
			text-align: center;
			line-height: 10px;
			a {
				color: #a8a8a8;
				font: normal 10px 'Open Sans';
			}
		}
		.RBZ_default_foot_rubizzblack {
			display: none;
		}
		.RBZ_default_fb {
			margin-top: 15px;
			width: 36px;
			height: 36px;
			background-size: 36px;
		}
		.RBZ_default_tw {
			margin-top: 15px;
			width: 36px;
			height: 36px;
			background-size: 36px;
		}
	}
}