<p>We make our content on http://rubizz.us website (“Site”), available to you subject to the following Terms of Service,
including the Sweepstakes Official Rules (“Terms of Service”).  These Terms of Service are between you (“you”) and Natexo USA LLC (“Natexo”).
If you visit the Site or fill out any survey through the Site, you accept these Terms of Service.  Please read them carefully.</p>

<p>Natexo reserves the right to change these Terms of Service from time to time at its sole discretion, and your rights under these Terms of Service
will be subject to the most current version of these Terms of Service posted on this page at the time of your visit.
We will also send all our registered users a notice of change of these Terms of Service at their last known e-mail address stored in their account.
If you do not agree with these or revised Terms of Service, do not use this Site or purchase any Natexo solutions available through the Site
and affiliated websites.</p>

<p>These Terms of Service are in addition to your obligations and rights under the Privacy Policy posted on this Site.  For the avoidance of doubt,
in the event of a conflict between these Terms of Service and the Privacy Policy or other terms and conditions posted on the Site, these Terms of Service
will control.  If you are unsure of your rights under these Terms of Service, please contact us at support@natexo.com</p>

<p>1. ACCOUNT AND REGISTRATION; USER OBLIGATIONS</p>
<p>You may, at your option, register as a user of our Site to participate in our surveys and be a registered user and you agree and represent that all
registration and other information provided by you to set up your account (“Account”) is accurate and up-to-date.  If any of your registration
information changes, you must update it in your Account.  As part of your registration, you will give us certain personal information, which will
be used by us in accordance with our Privacy Policy.</p>

<p>If you use this Site and become a registered user with us, you are responsible for maintaining the confidentiality of your Account and password and
for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your Account or password.
You must be 18 (or such older age as required by the laws of your state of residency) or older to register on this Site and participate in our surveys.</p>

<p>As a user of the Site, you agree, represent and warrant that you will: (1) comply with all applicable laws and regulations and not use the Site for
illegal purposes, including, without limitation, spamming or any use of distribution lists to any person who has not given specific permission to be
included in such a process; (2) not use the Site and its content in a manner so as to infringe or violate any third party's rights, including
intellectual property rights, privacy rights, right of publicity or any other rights of any person or entity; (3) not interfere with or disrupt
Site access and/or networks connected to the Site, not attempt to gain unauthorized access to other computer systems, not interfere with another user's
use and enjoyment of the Site and our services; (4) comply with all regulations, policies, and procedures of networks connected to the Site; and (5) not
transmit through the Site, surveys or other content available through the Site, any unlawful, harassing, libelous, abusive, threatening, harmful, vulgar,
obscene or otherwise objectionable material of any kind or nature or any material that encourages conduct that could constitute a criminal offense, give
rise to civil liability or otherwise violate any applicable law or regulation.  You acknowledge that Natexo has no obligation to monitor users’ and
customers’ use of the Site, but, in the event that Natexo becomes aware that your use of the Site and its content does or may violate the terms hereof,
you agree that we may remove any infringing item or take measures as necessary pending resolution and to transfer such infringing item to any judicial or
governmental authority.</p>

<p>Natexo reserves the right to refuse service, terminate accounts, remove or edit content, or cancel orders in its sole and reasonable discretion.</p>

<p>2. INTELLECTUAL PROPERTY</p>

<p><strong>Trademarks and Service Marks.</strong>   NATEXO and all marks referenced on the Site, without limitation, are among the registered trademarks of Natexo,
its affiliates and/or licensors.  You are not allowed to use any such trademarks without Natexo’s express agreement.</p>

<p><strong>Copyrights.</strong>  Content and designs (including any and all collateral materials relating thereto) included on this Site are owned by Natexo and/or its
licensors and protected by copyright laws.  You are not allowed to use any such content or designs without Natexo’s express agreement.</p>

<p><strong>Site Ownership - License.</strong>  Natexo grants you a limited license to access and make personal use of this Site. However, you may not download,
manipulate or modify it, or any portion of it, without our express written consent. This license does not include any resale or commercial use of
this Site or any of its contents, and you may not reproduce, copy, sell, resell, access or otherwise exploit all or any portion this Site for any
commercial purpose without our express written consent.  You may not use or reproduce Natexo’s name, trademarks, service marks or logos or other
proprietary information of Natexo without our express written consent. The Site, including but not limited to its graphics, logos, page headers,
icons and service names constitute the property of Natexo and its affiliates. Other trademarks that appear on the Site are the property of their
respective owners, who may or may not be affiliated with, connected to, or sponsored by Natexo.  Any images of persons or personalities contained on the
Site are not an indication or endorsement by Natexo or any particular product unless otherwise indicated.
IF YOU DOWNLOAD OR OTHERWISE OBTAIN CONTENT OR DATA FROM THE SITE, YOU DO SO AT YOUR OWN RISK AND YOU ARE SOLELY RESPONSIBLE FOR ANY ASSOCIATED
DAMAGES TO YOUR COMPUTER OR LOSS OF DATA.</p>

<p >3. DISCLAIMER</p>

<p>ALL SURVEYS AND CONTENT FEATURED ON OR OBTAINED THROUGH THE SITE ARE PROVIDED "AS IS," WITH NO WARRANTIES.  NATEXO, ITS SUPPLIERS AND
SERVICE PROVIDERS EXPRESSLY DISCLAIM TO THE FULLEST EXTENT PERMITTED BY LAW ALL EXPRESS, IMPLIED, AND STATUTORY WARRANTIES, INCLUDING,
WITHOUT LIMITATION, THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR USE, AND NON-INFRINGEMENT OF PROPRIETARY RIGHTS.</p>

<p>NATEXO, ITS SUPPLIERS, SPONSORS AND SERVICE PROVIDERS ARE NOT LIABLE TO ANY SITE VISITOR OR CUSTOMER FOR ANY INDIRECT, INCIDENTAL, CONSEQUENTIAL,
SPECIAL, EXEMPLARY, OR PUNITIVE DAMAGES WHETHER ANY CLAIM IS BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE), STRICT LIABILITY, PRODUCT
LIABILITY OR OTHERWISE, (EVEN IF NATEXO AND/OR ITS SERVICE PROVIDERS SHALL HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES). NEITHER NATEXO
NOR ITS SUPPLIERS OR SERVICE PROVIDERS WILL BE LIABLE FOR ANY DAMAGES ARISING FROM THE TRANSACTIONS BETWEEN YOU AND THIRD PARTY BUSINESSES OR SERVICE
PROVIDERS. NATEXO, ITS SUPPLIERS, SPONSORS AND SERVICE PROVIDERS’ TOTAL LIABILITY FOR ANY PARTICULAR CLAIM ARISING FROM THE SITE, SURVEYS COMPLETED
THROUGH THE SITE OR AS A RESULT OF REGISTERING THROUGH THE SITE, IS LIMITED TO THREE HUNDRED ($300) DOLLARS. TO THE EXTENT THAT WE MAY NOT,
AS A MATTER OF APPLICABLE LAW, DISCLAIM ANY IMPLIED WARRANTY OR LIMIT LIABILITIES, THE SCOPE AND DURATION OF SUCH WARRANTY AND THE EXTENT OF OUR
LIABILITY WILL BE THE MINIMUM PERMITTED UNDER SUCH APPLICABLE LAW.</p>

<p><strong>CUSTOMER SERVICE</strong></p>
<p>Our customer service department can be reached via e-mail at: support@Natexo.com</p>

<p >4. TERMINATION BY NATEXO</p>

<p>Natexo reserves the right to cancel an Account without penalty at any time and for any reasons and may suspend or terminate your Account at any
time in the event that you are in breach of any of these Terms of Service, for any acts or type of willful misconduct (including but not limited to
receiving services that are not paid for), or if you have attempted to, or have disparaged, defamed or tarnished Natexo and its trademarks.</p>

<p >5. INDEMNIFICATION.</p>

<p>You will defend, indemnify, and hold harmless Natexo, its affiliates, suppliers, sponsors, service providers, and each of their employees, contractors,
directors, investors, licensors and sublicensees, and representatives from all losses, costs, actions, claims, damages, expenses (including reasonable
legal costs) or liabilities, that arise from or relate to the product or service warranties from Suppliers and your dealings with any such Suppliers
after any purchase is made on our Site of a Supplier product or service, as well as your use or misuse of, or access to, the Site and related content
and services or otherwise from your submissions, violation of these Terms of Service, or infringement by you, or any third party using your Account,
of any intellectual property or other right of any person or entity (save to the extent that a court of competent jurisdiction holds that such claim
arose due to an act or omission of Natexo).  We reserve the right to assume the exclusive defense and control of any matter otherwise subject to
indemnification by you, in which event you will assist and cooperate with us in asserting any available defenses.</p>

<p >6. REGULATORY COMPLAINTS AND INFRINGEMENT</p>

<p>We will cooperate with any law enforcement authorities and comply with any judicial order requesting or directing us to disclose the identity of
anyone accessing, transacting, registering, and/or otherwise using the Site in violation of any applicable federal, state, or local laws.</p>
<p>Natexo respects the intellectual property rights of others and expects users of the Site to do the same. We will respond to notices of alleged
copyright infringement that comply with applicable law and are properly provided to us. If you believe that any content or services or certain parts
of the content on our Site constitute an infringement of your copyright, please notify us promptly and in accordance with the procedures described below.
We will process claims of alleged infringement and will take appropriate action as required by the Digital Millennium Copyright Act (“DMCA”) when the
following is sent to us at the address set forth below:</p>
<ol style="list-style-type:lower-roman;">
<li>a physical or electronic signature of the copyright owner or a person authorized to act on their behalf;</li>
<li>identification of the copyrighted work claimed to have been infringed;</li>
<li>identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or
access to which is to be disabled, and information reasonably sufficient to permit us to locate the material;</li>
<li>your contact information, including your address, telephone number, and an email address;</li>
<li>a statement by you that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright
owner, its agent, or the law; and</li>
<li>a statement, made under penalty of perjury, that the information in the notification is accurate and that the complaining party is authorized
to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
</ol>
<p>Such DMCA claim should be sent to us as follows:  Natexo USA LLC, 15 East 32nd St, 8th Floor, New York, NY 10016, Customer Service.</p>

<p >7. ANTI-SPAM POLICY</p>

<p>Spam is unsolicited email sent in bulk. Any promotion, information or solicitation that is sent to a person via e-mail without their prior consent,
where there is no pre-existing relationship between the sender and the recipient, is spam.  Our services made available to our customers are subject
to the respect of all anti-spam laws and regulations and our anti-spam policy.  We do not accept business from anyone with emailing practices that
would be in breach of any such laws, regulations and our policy, and create a negative delivery reputation for Natexo.  If you have questions about
our spam policy, please contact us. </p>

<p >8. GENERAL</p>

<p>These Terms of Service constitute the entire agreement of the parties with respect to the subject matter hereof and supersedes all previous written
or oral agreements between the parties with respect to such subject matter. A printed version of these Terms of Service and of any notice given in
electronic form will be admissible in judicial or administrative proceedings based upon or relating to these Terms of Service to the same extent and
subject to the same conditions as other business documents and records originally generated and maintained in printed form. These Terms of Service must
be construed in accordance with the laws of the State of New York without regard to its conflict of laws rules, and shall be resolved individually,
 without resort to any form of class action.  The parties expressly disclaim the application of the United Nations Convention on Contracts for the
 International Sale of Goods.  Compliance with US laws. Natexo controls and operates the Site and makes no representation that the contents of the Site
 are appropriate or available for use outside of the United States. If you use any of the Site from a location outside the United States, you are
 responsible for compliance with applicable U.S. and local laws, including export and import laws.</p>

<p>The parties irrevocably consent to submit to the jurisdiction of state and Federal courts, as applicable, of the State of New York located in
 New York County, New York on matters arising out of these Terms of Service.  Notwithstanding this, you agree that Natexo will still be allowed to apply
 for injunctive relief in any jurisdiction (without limitation of any other rights or remedies otherwise available to Natexo and without the necessity
 of posting a bond).  No waiver by either party of any breach or default hereunder shall be deemed to be a waiver of any preceding or subsequent breach
 or default. If any provision of these terms of Service are found by a court of competent jurisdiction to be invalid, the parties nevertheless agree
 that the court should endeavor to give effect to the parties’ intentions as reflected in the provision, and the other provisions of these Terms of
 Service remain in full force and effect.  If any part of these Terms of Service is found by any court to be invalid, illegal or unenforceable, that
 part shall be discounted and the rest of these Terms of Service shall continue to be valid and enforceable to the fullest extent permitted by law.</p>

<p>These Terms of Service cannot be altered or modified in any way without the prior written consent of Natexo.   If you are acting as an agent for
a principal (including on behalf of your employer), you and the principal, jointly and severally, assume all of your obligations set forth in these
Terms of Service. The rights and liabilities of the parties hereto shall bind and inure to the benefit of their respective successors, heirs,
executors and administrators, as the case may be.</p>

<p>NATEXO is not responsible for any default or delay due to causes beyond its control including, without limitation, strikes, lock outs, shut
down of internet connections by Internet provider, cyber-attacks on the Site.  Natexo will use commercially reasonable efforts to minimize such
delay or performance. </p>
<br /><br /><br />
