<p>Le site internet Rubizz.fr est édité par la société Natexo dont le siège social est situé au 233 rue de la croix nivert 75015 Paris, au capital de 71400 €, inscrite au RCS de Paris sous le n°50493854900046</p>
<p>Téléphone : 01 48 56 70 31</p>
<p>Email : contact@natexo.com</p>
<p>N° TVA intracommunautaire : FR27 504 938 549</p>
<p>Siren : 504 938 549</p>
<p>Directeur de la publication : Romain Piraux</p>
<p>Le site internet Rubizz.fr est hébergé par OVH, 2 rue Kellermann 59100 Roubaix - France, téléphone : 0 820 698 765.</p>
<p>Le document suivant décrit la politique menée par RUBIZZ en terme de respect de la vie privée et des informations vous concernant. Merci de noter que le fait de parcourir le site www.rubizz.fr implique votre pleine acceptation des conditions décrites ci-dessous.</p>

<p>Quelles informations liées aux visites sont stockées et utilisées par RUBIZZ ?</p>
<p>Lorsqu’un internaute visite une page du site www.rubizz.fr, nos serveurs identifient automatiquement <br />cette visite et stockent les données suivantes :</p>
<p>- Votre adresse IP</p>
<p>- L’adresse du site qui vous a amené sur le notre, si elle existe</p>
<p>- L’identifiant et la version de votre navigateur Web</p>
<p>- Le système d’exploitation que vous utilisez</p>
<p>- Le cas échéant, les termes saisis dans votre moteur de recherche pour arriver sur nos pages</p>

<p>Ces données ne sont en rien particulières, et l’usage actuel veut que bon nombre de serveurs identifient de manière automatique ces informations.</p>

<p>L’intérêt de stocker ces données est double. D’une part, nous pouvons adapter nos contenus pour fournir la meilleure compatibilité possible, en fonction de votre navigateur et de votre système d’exploitation. Par ailleurs, nous cherchons chaque jour à augmenter le trafic sur notre site Internet. En ce sens, la consultation des statistiques nous permet d’évaluer notre position au sein des outils de recherche.</p>

<p>Quelles sont les informations privées utilisées sur le site www.rubizz.fr ?</p>
<p>Dans le cadre de nos formulaires de contact, différentes données à caractère privées vous sont demandées :</p>
<p>- Nom</p>
<p>- Prénom</p>
<p>- Email</p>
<p>- Société</p>
<p>- Téléphone</p>

<p>En aucun cas ces informations ne seront stockées sur notre site, sur base de données ou sur autres formats de stockage. Les données personnelles que vous nous communiquez sont envoyées vers les messageries mails de nos responsables commerciaux, de manière à ce qu’ils puissent vous contacter et vous répondre. De plus, ces coordonnées sont exclusivement destinées à l’usage de Natexo, dans le cadre de votre projet, et ne seront à aucun moment diffusées à des tiers.</p>