@charset "UTF-8";
@import "../global/_config";
@import "compass";

//=== graphiques
#div_RBZ_stats {
    margin-bottom: 30px;
}
//=== line bar
#div_RBZ_bar {
    float:left;
    width: 55%;
    margin-right: 80px;
    canvas {
        height:350px;
        width: 750px;
    }
}

// ==== Donut ====
#div_RBZ_donutShade {
    float:left;
    position: relative;
    padding:10px;
    border-radius:127px;
    @include background-image(linear-gradient(#CFCECC, #F1F1F1, #F1F1F1));
}
#div_RBZ_donut {
    display: inline-block;
    position: relative;
    background:#F1F1F1;
    border-radius:117px; border:0px;
    canvas {
        height: 235px;
        width: 235px;
    }
}

#a_RBZ_donutDetail { color:#BFBFBF; }

#div_RBZ_donutDetail {
    font-size: 14px;
    display: inline-block;
    height: 235px;
    width: 235px;
    position: absolute;
    text-align: center;
    left: 0;
    top:0;
    padding-top: 60px;
    color : #bfbfbf;
    font-weight: bold;

    .RBZ_piggyBank {
        color : #676059;
        font-size: 36px;
    }

    div.RBZ_piggyBankText {
        font: normal 12px 'Open Sans';
        margin-top: 6px;
        margin-bottom: 8px;
        a { color : #f04f61; font-weight:bold; }
    }
    #div_RBZ_separator {
        width: 180px;
        margin-left:28px;
        height:0px;
        border-top:1px solid #D1D1D1;
        border-bottom:1px solid white;
    }
}

// ==== Titre des offres ====
h1 { margin-bottom:0px; }
#table_RBZ_title {
    td { padding:0px; }
}
#div_RBZ_AllOffers {
    font: "Open Sans" 14px;
    font-weight: bold;
    a { color : #f04f61; }
}


// ==== Inclusion de la macro des offres (tag) ====
.RBZ_offers {
    .RBZ_grid {
        width: 49.8%;
        position: relative;
        display: inline-block;
        &.RBZ_left {
            .RBZ_grid_item {
                padding-right: 8px;
                margin-bottom: 25px;
            }
        }
        &.RBZ_right {
            .RBZ_grid_item {
                padding-left: 8px;
                margin-bottom: 25px;
            }
        }
    }
}

/* ==== Mobile ==== */
@media (max-width: $wrapper-screen) {
    // ==== Inclusion de la macro des offres (tag) ====
    .RBZ_offers {
        .RBZ_grid {
            width: 100%;
            display: inline-block;
            overflow: hidden;
            text-align: center;
            &.RBZ_left {
                .RBZ_grid_item {
                    padding-right: 0px;
                    margin-bottom: 25px;
                }
            }
            &.RBZ_right {
                .RBZ_grid_item {
                    padding-left: 0px;
                    margin-bottom: 25px;
                }
            }
        }
    }
}

/* ==== iPad ==== */
@media (max-width: 767px) {
    #div_RBZ_AllOffers {
        float: left;
    }
}

/* ==== Smartphone ==== */
@media (max-width: 480px) {
    float: left;
}
