@charset "UTF-8";

@import "../global/_config";

//=== Menu des categories (tag)
#div_RBZ_stats {
  margin-bottom: 30px;
    div {
        display: inline-block;
  }
}

#div_RBZ_bar {
    width: 50%;
    margin-right: 120px;
}
#div_RBZ_donut {
    width: 30%;
}

//=== inclusion de la macro des offres (tag)
#div_RBZ_offers {
  div {
    display: inline-block;
  }
}