@charset "UTF-8";
@import "../global/_config";

//=== graphiques
#div_RBZ_stats {
    margin-bottom: 30px;
}
//=== line bar
#div_RBZ_bar {
    display: inline-block;
    width: 55%;
    margin-right: 80px;
    canvas {
        height:500px;
        width: 750px;
    }
}
//=== donut
#div_RBZ_donut {
    display: inline-block;
    position: relative;
    canvas {
        height: 336px;
        width: 336px;
    }
}

#div_RBZ_donutDetail {
    font-size: 16px;
    display: inline-block;
    height: 336px;
    width: 336px;
    position: absolute;
    text-align: center;
    left: 0;
    padding-top: 90px;
    color : #bfbfbf;
    font-weight: bold;

    .RBZ_piggyBank {
        color : #676059;
        font-size: 40px;
        margin-bottom: 10px;
    }

    .RBZ_piggyBankText {
        color : #f04f61;
        font: normal 16px 'Open Sans';
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #div_RBZ_separator {
        width: 244px;
        margin-left:46px;
        height:1.8px;
        background-color: #D1D1D1;
    }
}

//=== inclusion de la macro des offres (tag)
#div_RBZ_AllOffers {
    float: right;
    font : "Open Sans Bold" 14px;
    margin-bottom: 20px;
    a {
        color : #f04f61;
    }

}
