@charset "UTF-8";

@import "../global/_config";

//=== Menu des categories (tag)
#div_RBZ_offerCategory {
    margin-top: -15px;
    margin-bottom: 20px;
    height: 20px;
    line-height: 20px;
    ul {
        list-style: none;
        padding:0;
        display: inline-block;
        li {
            list-style: none;
            display: inline-block;
            font-size: 12px;
            margin-right: 20px;
            text-align: center;
            vertical-align: middle;
            a {
                text-transform: uppercase;
                text-decoration: none;
                color : $sub-menu;
            }
            &.active a, a:hover {
                color: $red-banner;
            }
        }
    }
    #a_RBZ_ActiveCategory {
        color: $red-banner;
    }
}

// ==== Inclusion de la macro des offres (tag) ====
.RBZ_offers {
    .RBZ_grid {
        width: 49.8%;
        position: relative;
        display: inline-block;
        &.RBZ_left {
            .RBZ_grid_item {
                padding-right: 8px;
                margin-bottom: 25px;
            }
        }
        &.RBZ_right {
            .RBZ_grid_item {
                padding-left: 8px;
                margin-bottom: 25px;
            }
        }
    }
}

/* ==== Mobile ==== */
@media (max-width: $wrapper-screen) {
    // ==== Inclusion de la macro des offres (tag) ====
    .RBZ_offers {
        .RBZ_grid {
            width: 100%;
            display: inline-block;
            overflow: hidden;
            text-align: center;
            &.RBZ_left {
                .RBZ_grid_item {
                    padding-right: 0px;
                    margin-bottom: 25px;
                }
            }
            &.RBZ_right {
                .RBZ_grid_item {
                    padding-left: 0px;
                    margin-bottom: 25px;
                }
            }
        }
    }
}

/* ==== Smartphone ==== */
@media (max-width: 480px) {
    /* ==== Popup confirmation ==== */
    #div_RBZ_commonPopup {
        width: 290px;
        position: fixed;
        top: 50px;
        #div_RBZ_commonPopupContent {
            div.RBZ_confirm_popup_content {
                line-height: 40px;
            }
        }
        #a_RBZ_commonPopupClose {
            width: 28px;
            height: 26px;
            background: url(/bundles/webweb/images/global/icons/close_smartphone.png) no-repeat left top;
        }
        #div_RBZ_commonPopupContent {
            div.RBZ_confirm_popup_content {
                width: 290px;
            }
        }
    }
}