@charset "UTF-8";

@import "../global/_config";

//=== Menu des categories (tag)
#div_RBZ_offerCategory {
    margin-top: -15px;
    margin-bottom: 20px;
    height: 20px;
    line-height: 20px;
    ul {
        list-style: none;
        padding:0;
        display: inline-block;
        li {
            list-style: none;
            display: inline-block;
            font-size: 12px;
            margin-right: 20px;
            text-align: center;
            vertical-align: middle;
            a {
                text-transform: uppercase;
                text-decoration: none;
                color : $sub-menu;
            }
            &.active a, a:hover {
                font-weight: 600;
            }
        }
    }
    #a_RBZ_ActiveCategory {
        color: $red-banner;
    }
}

// ==== Inclusion de la macro des offres (tag) ====
.RBZ_offers {
    .RBZ_grid {
        width: 49.8%;
        position: relative;
        display: inline-block;
        &.RBZ_left {
            .RBZ_grid_item {
                padding-right: 8px;
                margin-bottom: 25px;
            }
        }
        &.RBZ_right {
            .RBZ_grid_item {
                padding-left: 8px;
                margin-bottom: 25px;
            }
        }
    }
}