@charset "UTF-8";

@import "../../global/_config";

/* ==== Popup de login ==== */
#div_RBZ_loginPopup {
    position: absolute;
    top: 180px;
    z-index: 2;
    #div_RBZ_content {
        width: 360px;
        height: 370px;
        background-color: #f1f1f1;
        @include border-radius(2px, 2px);
        #div_RBZ_logo {
            width: 100%;
            display: block;
            text-align: center;
            #div_RBZ_close {
                position: absolute;
                top: 0px;
                right: 15px;
                font-size: 40px;
                color: #afafaf;
                cursor: pointer;
            }
            img {
                margin: 40px auto 10px auto;
            }
            h3.RBZ_linesSided {
                &.RBZ_fr_FR {
                    span::before, span::after {
                        width: 56px;
                    }
                }
                &.RBZ_en_US {
                    span::before, span::after {
                        width: 48px;
                    }
                }
            }
        }
        #div_RBZ_form {
            width: 80%;
            margin: 30px auto 0px auto;
            div.RBZ_input {
                margin-bottom: 10px;
            }
            input.RBZ_redButton {
                margin-top: 25px;
            }
            #div_RBZ_error {
                color: $red-banner;
                font-weight: 600;
                position: absolute;
                top: 130px;
                width: 80%;
                text-align: center;
            }
        }
    }
    #div_RBZ_notice {
        margin-top: 20px;
        text-align: center;
        font: 14px 'Open Sans';
        font-weight: 600;
        span {
            color: white;
            a {
                color: #f04f61;
                text-decoration: none;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
#div_RBZ_loginShadow {
    display: none;
    position: absolute;
    top: 0px;
    opacity: 0.8;
    z-index: 1;
    background-color: #000000;
}

/* ==== Popup de register ==== */
#div_RBZ_registerPopup {
    position: absolute;
    top: 110px;
    z-index: 2;
    #div_RBZ_content {
        width: 360px;
        height: 505px;
        background-color: #f1f1f1;
        position: relative;
        &.RBZ_fr_FR {
            /* ---- Positionnement par rapport au texte sous la popup
             qui dépasse à gauche et à droite en français ----*/
            left: 22px;
        }
        @include border-radius(2px, 2px);
        #div_RBZ_logo {
            width: 100%;
            display: block;
            text-align: center;
            #div_RBZ_close {
                position: absolute;
                top: 0px;
                right: 15px;
                font-size: 40px;
                color: #afafaf;
                cursor: pointer;
            }
            img {
                margin: 40px auto 10px auto;
            }
            h3.RBZ_linesSided {
                &.RBZ_fr_FR {
                    span::before, span::after {
                        width: 22px;
                    }
                }
                &.RBZ_en_US {
                    span::before, span::after {
                        width: 44px;
                    }
                }
            }
        }
        #div_RBZ_form {
            width: 80%;
            margin: 30px auto 0px auto;
            div.RBZ_input {
                margin-bottom: 10px;
            }
            input.RBZ_redButton {
                margin-top: 25px;
            }
            #div_RBZ_error {
                color: $red-banner;
                font-weight: 600;
                position: absolute;
                top: 130px;
                width: 80%;
                text-align: center;
            }
        }
    }
    #div_RBZ_notice {
        margin-top: 20px;
        text-align: center;
        font: 14px 'Open Sans';
        font-weight: 600;
        span {
            color: white;
            a {
                color: #f04f61;
                text-decoration: none;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
#div_RBZ_registerShadow {
    display: none;
    position: absolute;
    top: 0px;
    opacity: 0.8;
    z-index: 1;
    &.RBZ_fr_FR { background: #000000; }
    &.RBZ_en_US { background: #000000; }
}

/* ==== iPad ==== */
@media (max-width: 767px) {
    /* ==== Popup de login ==== */
    #div_RBZ_loginPopup {
        top: 120px;
    }
    /* ==== Popup de register ==== */
    #div_RBZ_registerPopup {
        top: 40px;
        padding-left: 0px;
    }
    #div_RBZ_registerShadow {
        &.RBZ_fr_FR {
            background: none;
            background-color: #000000;
        }
        &.RBZ_en_US {
            background: none;
            background-color: #000000;
        }
    }
}

/* ==== Smartphone ==== */
@media (max-width: 480px) {
    /* ==== Popup de login ==== */
    #div_RBZ_loginPopup {
        top: 120px;
    }
    /* ==== Popup de register ==== */
    #div_RBZ_registerPopup {
        top: 40px;
    }
}


/* ==== Petit Smartphone ==== */
@media (max-width: 330px) {
    /* ==== Popup de login ==== */
    #div_RBZ_loginPopup {
        top: 30px;
        #div_RBZ_content {
            width: 320px;
        }
    }
    /* ==== Popup de register ==== */
    #div_RBZ_registerPopup {
        padding-left: 0px;
        top: 0px;
        #div_RBZ_content {
            width: 320px;
            &.RBZ_fr_FR {
                /* ---- Positionnement par rapport au texte sous la popup
                 qui dépasse à gauche et à droite en français ----*/
                left: 0px;
            }
        }
    }
}
