@charset "UTF-8";

@import "../../global/_config";

#section_RBZ_default_main {
	background: $light-grey;
}
.RBZ_default_content {
	background: $light-grey;
	width: 1600px;
	margin: 0px auto;
	padding-top: 32px;
	.RBZ_default_community {
		width: 960px;
		height: 400px;
		margin: 0px auto;
		border-top: 1px solid $border-grey;
		background: url(/bundles/webweb/images/home/community.png) left 140px center no-repeat;
		.RBZ_default_community_detail {
			width: 420px;
			float: right;
			margin-right: 55px;
			margin-top: 115px;
			.RBZ_default_community_title {
				color: #494745;
				font: normal 34px 'Open Sans';
			}
			.RBZ_default_community_content {
				color: #929292;
				font: normal 20px 'Open Sans';
				font-weight: 600;
				line-height: 24px;
				margin-top: 22px;
			}
			.RBZ_default_community_manage {
				color: #f04f61;
				font: normal 18px 'Open Sans';
				font-weight: 700;
				margin-top: 30px;
			}
		}
	}
	.RBZ_default_mailinglist {
		width: 960px;
		height: 400px;
		margin: 0px auto;
		border-top: 1px solid $border-grey;
		background: url(/bundles/webweb/images/home/mailing.png) right 132px center no-repeat;
		.RBZ_default_mailinglist_detail {
			width: 420px;
			float: left;
			margin-left: 138px;
			margin-top: 108px;
			.RBZ_default_mailinglist_title {
				color: #494745;
				font: normal 34px 'Open Sans';
			}
			.RBZ_default_mailinglist_content {
				color: #929292;
				font: normal 20px 'Open Sans';
				font-weight: 600;
				line-height: 24px;
				margin-top: 22px;
			}
			.RBZ_default_mailinglist_add {
				color: #f04f61;
				font: normal 18px 'Open Sans';
				font-weight: 700;
				margin-top: 30px;
			}
		}
	}
	.RBZ_default_cagnotte {
		width: 960px;
		height: 400px;
		margin: 0px auto;
		border-top: 1px solid $border-grey;
		background: url(/bundles/webweb/images/home/cagnotte.png) left 140px center no-repeat;
		.RBZ_default_cagnotte_detail {
			width: 420px;
			float: right;
			margin-right: 55px;
			margin-top: 115px;
			.RBZ_default_cagnotte_title {
				color: #494745;
				font: normal 34px 'Open Sans';
			}
			.RBZ_default_cagnotte_content {
				color: #929292;
				font: normal 20px 'Open Sans';
				font-weight: 600;
				line-height: 24px;
				margin-top: 22px;
			}
			.RBZ_default_cagnotte_begin {
				color: #f04f61;
				font: normal 18px 'Open Sans';
				font-weight: 700;
				margin-top: 30px;
			}
		}
	}
	.RBZ_default_follow {
		width: 960px;
		height: 400px;
		margin: 0px auto;
		border-top: 1px solid $border-grey;
		.RBZ_default_chrisbale {
			width: 503px;
			height: 290px;
			float: left;
			background: url(/bundles/webweb/images/home/chris_bale.png) left -55px top no-repeat;
			padding: 164px 72px 0px 150px;
			.RBZ_default_followdetail {
				color: #676059;
				font-size: 17px;
				line-height: 20px;
				font-family: 'Georgia';
				font-style: italic;
			}
			.RBZ_default_followsign {
				color: #f04f61;
				font: normal 14px 'Open Sans';
				font-weight: 600;
			}
		}
		.RBZ_default_emmawat {
			width: 438px;
			height: 290px;
			float: left;
			background: url(/bundles/webweb/images/home/emma_wat.png) left top 69px no-repeat;
			padding: 162px 17px 0px 136px;
			.RBZ_default_followdetail {
				color: #676059;
				font-size: 17px;
				line-height: 20px;
				font-family: 'Georgia';
				font-style: italic;
			}
			.RBZ_default_followsign {
				color: #f04f61;
				font: normal 14px 'Open Sans';
				font-weight: 600;
			}
		}
	}
}

/* ==== iPad ==== */
@media (max-width: 767px) {
	.RBZ_default_content {
		width: 600px;
		padding-top: 18px;
		.RBZ_default_community {
			width: 560px;
			height: 297px;
			margin: 0px auto;
			border-top: 1px solid $border-grey;
			background: url(/bundles/webweb/images/home/community.png) left center no-repeat;
			background-size: 199px;
			.RBZ_default_community_detail {
				width: 315px;
				float: right;
				margin-right: 12px;
				margin-top: 44px;
				.RBZ_default_community_title {
					color: #494745;
					font: normal 25px 'Open Sans';
				}
				.RBZ_default_community_content {
					color: #929292;
					font: normal 15px 'Open Sans';
					font-weight: 600;
					line-height: 18px;
					margin-top: 19px;
				}
				.RBZ_default_community_manage {
					color: #f04f61;
					font: normal 15px 'Open Sans';
					font-weight: 700;
					margin-top: 18px;
				}
			}
		}
		.RBZ_default_mailinglist {
			width: 560px;
			height: 297px;
			margin: 0px auto;
			border-top: 1px solid $border-grey;
			background: url(/bundles/webweb/images/home/mailing.png) right 45px center no-repeat;
			background-size: 178px;
			.RBZ_default_mailinglist_detail {
				width: 335px;
				float: left;
				margin-left: 10px;
				margin-top: 50px;
				.RBZ_default_mailinglist_title {
					color: #494745;
					font: normal 25px 'Open Sans';
				}
				.RBZ_default_mailinglist_content {
					color: #929292;
					font: normal 15px 'Open Sans';
					font-weight: 600;
					line-height: 18px;
					margin-top: 19px;
				}
				.RBZ_default_mailinglist_add {
					color: #f04f61;
					font: normal 15px 'Open Sans';
					font-weight: 700;
					margin-top: 18px;
				}
			}
		}
		.RBZ_default_cagnotte {
			width: 560px;
			height: 297px;
			margin: 0px auto;
			border-top: 1px solid $border-grey;
			background: url(/bundles/webweb/images/home/cagnotte.png) left 35px center no-repeat;
			background-size: 158px;
			.RBZ_default_cagnotte_detail {
				width: 315px;
				float: right;
				margin-right: 12px;
				margin-top: 64px;
				.RBZ_default_cagnotte_title {
					color: #494745;
					font: normal 25px 'Open Sans';
				}
				.RBZ_default_cagnotte_content {
					color: #929292;
					font: normal 15px 'Open Sans';
					font-weight: 600;
					line-height: 18px;
					margin-top: 19px;
				}
				.RBZ_default_cagnotte_begin {
					color: #f04f61;
					font: normal 15px 'Open Sans';
					font-weight: 700;
					margin-top: 18px;
				}
			}
		}
		.RBZ_default_follow {
			width: 560px;
			height: 600px;
			margin: 0px auto;
			border-top: 1px solid $border-grey;
			.RBZ_default_chrisbale {
				width: 503px;
				height: 290px;
				float: none;
				background: url(/bundles/webweb/images/home/chris_bale.png) left -33px top no-repeat;
				padding: 164px 50px 0px 172px;
				margin: 0px auto;
				.RBZ_default_followdetail {
					color: #676059;
					font-size: 17px;
					line-height: 20px;
					font-family: 'Georgia';
					font-style: italic;
				}
				.RBZ_default_followsign {
					color: #f04f61;
					font: normal 14px 'Open Sans';
					font-weight: 600;
				}
			}
			.RBZ_default_emmawat {
				width: 438px;
				height: 250px;
				float: none;
				background: url(/bundles/webweb/images/home/emma_wat.png) left top 29px no-repeat;
				padding: 122px 17px 0px 136px;
				margin: 0px auto;
				.RBZ_default_followdetail {
					color: #676059;
					font-size: 17px;
					line-height: 20px;
					font-family: 'Georgia';
					font-style: italic;
				}
				.RBZ_default_followsign {
					color: #f04f61;
					font: normal 14px 'Open Sans';
					font-weight: 600;
				}
			}
		}
	}
}

/* ==== Smartphone ==== */
@media (max-width: 480px) {
	.RBZ_default_content {
		width: 320px;
		padding-top: 25px;
		.RBZ_default_community {
			width: 285px;
			height: 432px;
			margin: 0px auto;
			border-top: 1px solid $border-grey;
			background: url(/bundles/webweb/images/home/community.png) center top 15px no-repeat;
			background-size: 199px;
			.RBZ_default_community_detail {
				width: 285px;
				float: none;
				margin-top: 244px;
				margin-left: auto;
				margin-right: auto;
				.RBZ_default_community_title {
					color: #494745;
					font: normal 22px 'Open Sans';
				}
				.RBZ_default_community_content {
					color: #929292;
					font: normal 15px 'Open Sans';
					font-weight: 600;
					line-height: 18px;
					margin-top: 19px;
				}
				.RBZ_default_community_manage {
					color: #f04f61;
					font: normal 15px 'Open Sans';
					font-weight: 700;
					margin-top: 18px;
				}
			}
		}
		.RBZ_default_mailinglist {
			width: 285px;
			height: 435px;
			margin: 0px auto;
			border-top: 1px solid $border-grey;
			background: url(/bundles/webweb/images/home/mailing.png) center top 25px no-repeat;
			background-size: 178px;
			.RBZ_default_mailinglist_detail {
				width: 285px;
				float: none;
				margin-top: 258px;
				margin-left: auto;
				margin-right: auto;
				.RBZ_default_mailinglist_title {
					color: #494745;
					font: normal 22px 'Open Sans';
				}
				.RBZ_default_mailinglist_content {
					color: #929292;
					font: normal 15px 'Open Sans';
					font-weight: 600;
					line-height: 18px;
					margin-top: 19px;
				}
				.RBZ_default_mailinglist_add {
					color: #f04f61;
					font: normal 15px 'Open Sans';
					font-weight: 700;
					margin-top: 18px;
				}
			}
		}
		.RBZ_default_cagnotte {
			width: 285px;
			height: 435px;
			margin: 0px auto;
			border-top: 1px solid $border-grey;
			background: url(/bundles/webweb/images/home/cagnotte.png) center top 25px no-repeat;
			background-size: 158px;
			.RBZ_default_cagnotte_detail {
				width: 285px;
				float: none;
				margin-right: auto;
				margin-left: auto;
				margin-top: 264px;
				.RBZ_default_cagnotte_title {
					color: #494745;
					font: normal 22px 'Open Sans';
				}
				.RBZ_default_cagnotte_content {
					color: #929292;
					font: normal 15px 'Open Sans';
					font-weight: 600;
					line-height: 18px;
					margin-top: 19px;
				}
				.RBZ_default_cagnotte_begin {
					color: #f04f61;
					font: normal 15px 'Open Sans';
					font-weight: 700;
					margin-top: 18px;
				}
			}
		}
		.RBZ_default_follow {
			width: 293px;
			height: 495px;
			margin: 0px auto;
			border-top: 1px solid $border-grey;
			.RBZ_default_chrisbale {
				width: 293px;
				height: 209px;
				float: none;
				background: url(/bundles/webweb/images/home/chris_bale_smartph.png) left top no-repeat;
				padding: 102px 30px 0px 33px;
				margin: 0px auto;
				margin-top: 25px;
				.RBZ_default_followdetail {
					color: #676059;
					font-size: 14px;
					line-height: 17px;
					font-family: 'Georgia';
					font-style: italic;
				}
				.RBZ_default_followsign {
					color: #f04f61;
					font: normal 12px 'Open Sans';
					font-weight: 600;
				}
			}
			.RBZ_default_emmawat {
				width: 293px;
				height: 209px;
				float: none;
				background: url(/bundles/webweb/images/home/chris_bale_smartph.png) left top no-repeat;
				padding: 102px 30px 0px 33px;
				margin: 0px auto;
				margin-top: 25px;
				.RBZ_default_followdetail {
					color: #676059;
					font-size: 14px;
					line-height: 17px;
					font-family: 'Georgia';
					font-style: italic;
				}
				.RBZ_default_followsign {
					color: #f04f61;
					font: normal 12px 'Open Sans';
					font-weight: 600;
				}
			}
		}
	}
}