@charset "UTF-8";

@import "../../global/_config";

/* ==== RUB slider ==== */
#div_RUB_sliderContain { position: relative; background: #D70546; }
.RUB_div_slider_contain {min-width: 100%; background: #D70546;}
#div_RUB_sliderContain { width: 1300px; margin-right: auto; margin-left: auto; position: relative; }
.RUB_div_slider { position: relative; width: 100%; height: 615px; background: #D70546; }
.owl-carousel .owl-item img.RUB_slide_img { z-index: 0; }
.owl-carousel .owl-item img.RUB_slide_img_smartphone { display: none; }
.RUB_div_slider .RUB_slide_textContain { float: right; width: 490px; height: 278px; margin-top: 150px; margin-right: 210px; position: relative; z-index: 1; }
.RUB_div_slider p.RUB_slide_text1 { width: 490px; color: $white; font: 30px 'Open Sans'; font-weight: 600; line-height: 36px; margin-bottom: 30px; }
.RUB_div_slider p.RUB_slide_text2 { width: 490px; color: #5c1e43; font: 20px 'Open Sans'; line-height: 30px; margin-bottom: 30px; }
.RUB_div_slider p.RUB_slide_text3 { width: 325px; height: 50px; color: $white; font: normal 22px 'Open Sans'; background: #6fc5c0; border-radius: 5px; box-shadow: 0px 0px 9px #e44050; border: 1px solid #6fc5c1; text-align: center; line-height: 43px; }
.div_RUB_slide1 img { position: absolute; /*left: 90px; bottom: -25px;*/ }
.div_RUB_slide2 img { position: absolute; /*left: 0px; bottom: -25px;*/ }
.div_RUB_slide3 img { position: absolute; /*left: 90px; bottom: -25px;*/ }
.div_RUB_slide4 img { position: absolute; /*left: 90px; bottom: 18px;*/ }
.owl-theme .owl-controls {margin-top: 0px;
    position: absolute;
    bottom: 15px;
width: 100%}
.owl-theme .owl-controls .owl-dots {margin-top: -20px; position: relative}
.owl-theme .owl-controls .owl-dot {height: 12px;width: 12px; display: inline-block;background: none;margin: 0 5px;border-radius: 50%;overflow: hidden; border: 1px solid #FFFFFF;}
.owl-theme .owl-controls .owl-dot span { background: #FFFFFF; opacity: 0; height: 12px; width: 12px;display: block;}
.owl-theme .owl-controls .owl-dot:hover { background: #FFFFFF; }
.owl-theme .owl-controls .owl-dot.active { background: #FFFFFF; }
.owl-theme .owl-controls .owl-dot.active span { background: #FFFFFF; opacity: 0; }
/*.owl-theme .owl-controls .owl-dot.active:hover { opacity: 0.99; }*/
.owl-theme .owl-nav { position: absolute; width: 100%; top: -170px; }
.owl-theme .owl-nav div.owl-prev { float: left; margin-left: 64px; background: transparent; color: #FFFFFF; opacity: 1; font: 50px Circe-ExtraLight; height: 40px; line-height: 40px; }
.owl-theme .owl-nav div.owl-next { float: right; margin-right: 64px; background: transparent; color: #FFFFFF; opacity: 1; font: 50px Circe-ExtraLight; line-height: 40px; height: 40px; }
.owl-carousel .owl-item img {width: auto;}

/* ==== iPad ==== */
@media (max-width: 767px) {
    .owl-theme .owl-controls {}
	.owl-theme .owl-nav { display: none; }
	.RUB_div_slider { height: 400px; }
	.owl-carousel .owl-item img.RUB_slide_img_smartphone { display: block; }
	.owl-carousel .owl-item img.RUB_slide_img { display: none; }
	.RUB_div_slider .RUB_slide_textContain { float: none; margin-left: auto; margin-right: auto; margin-top: 0px; text-align: center; padding-top: 50px; }
	.RUB_div_slider p.RUB_slide_text1 { width: 440px; font-size: 26px; line-height: 32px; }
	.RUB_div_slider p.RUB_slide_text2 { width: 450px; margin-bottom: 40px; }
	.RUB_div_slider p.RUB_slide_text3 { margin-left: auto; margin-right: auto; }
    #div_RUB_sliderContain {width: 100%;}
    /*#div_RUB_sliderContain .owl-controls { float: right; margin-right: 75px; }*/
    #div_RUB_sliderContain .owl-controls { width: auto;right: 75px; }
	.owl-carousel .owl-item .div_RUB_slide1 img { width: 480px; left: -310px; top: -115px; }
	.owl-carousel .owl-item .div_RUB_slide2 img { width: 450px; left: -310px; top: -115px; }
	.owl-carousel .owl-item .div_RUB_slide3 img { width: 380px; left: -310px; top: -115px; }
	.owl-carousel .owl-item .div_RUB_slide4 img { width: 500px; left: -310px; top: -115px; }
}

/* ==== Smartphone ==== */
@media (max-width: 480px) {
	#div_RUB_sliderContain { padding-top: 0px; }
	#div_RUB_sliderContain .owl-controls { float: none; margin-right: 0px; }
	.owl-carousel .owl-item .div_RUB_slide1 img { width: 300px; left: -150px; bottom: -100px; }
	.owl-carousel .owl-item .div_RUB_slide2 img { width: 300px; left: -150px; bottom: -100px; }
	.owl-carousel .owl-item .div_RUB_slide3 img { width: 300px; left: -150px; bottom: -100px; }
	.owl-carousel .owl-item .div_RUB_slide4 img { width: 300px; left: -150px; bottom: -100px; }
	.RUB_div_slider { height: 264px; }
	.owl-carousel .owl-item img.RUB_slide_img_smartphone { display: block; }
	.owl-carousel .owl-item img.RUB_slide_img { display: none; }
	.RUB_div_slider .RUB_slide_textContain { float: none; width: 285px; height: 195px; margin-left: auto; margin-right: auto; margin-top: 0px; text-align: center; padding-top: 30px; }
	.RUB_div_slider p.RUB_slide_text1 { width: 290px; font-size: 17px; line-height: 22px; }
	.RUB_div_slider p.RUB_slide_text2 { width: 290px; margin-bottom: 40px; font-size: 14px; line-height: 18px; margin-bottom: 20px; margin-top: 0px; }
	.RUB_div_slider p.RUB_slide_text3 { width: 246px; height: 42px; margin-left: auto; margin-right: auto; font-size: 14px; line-height: 40px; }
}

